<!DOCTYPE html>
<html>
    <form action="{% url "list_communautes" %}" method="post">
            {{ is_subd }}
            {% if is_subd %}
                <form action="{% url "list_communautes" %}" method="post">
                <input type="submit" value="Désabonnez-vous de {{ communaute }} " ></input>
                {{ communaute.abonne.remove.request.user}}
            {% else%}
                <input type="submit" value="Abonnez-vous à {{ communaute }} "/>
                {{ communaute.abonne.add.request.user}}
            {% endif %}
        {% csrf_token %}
    </form>
</html>
