<!DOCTYPE html>
<html>
{% for communaute in communautes %}
    <form action="{% url "communautes" %}" method="post">
            {{ is_subd }}
            {% if not is_subd %}
                <form action="{% url "communautes" %}" method="post">
                <input type="submit" value="Désabonnez-vous de {{ communaute }} " ></input>
                {{ communaute.abonne.remove.request.user}}
            {% else%}
                <input type="submit" value="Abonnez-vous à {{ communaute }} "/>
                {{ communaute.abonne.add.request.user}}
            {% endif %}
        {% csrf_token %}
    </form>
{% endfor %}
</html>
