<!DOCTYPE html>
<html>
    {% if sauvegarde%} Votre abonnement a bien été pris en compte !!    {% endif %}
    <form action="{% url "list_communautes" %}" method="post">
        {% if not is_subd %}
            <input type="submit" value="Désabonnez-vous de"{{communaute_id}}  ></input>
            {% csrf_token %}
        {% endif %}

        {% if is_subd%}
            <input type="submit" value="Abonnez-vous à {{communaute_id.get_name}} "/>
            {% csrf_token %}
        {% endif %}

    </form>
</html>

