{% extends "base.html" %}

{% block title %} Voici la liste des POSTS !{% endblock title %}

{% block h1 %} POSTS de la Communauté {{ posts.communaute_id.get_name }}! {% endblock h1 %}

{% block h3 %}

    {# Bar de filtrage d'affichage des posts de la communaute #}
    {# Filtrage:   min priorite: select(priorite, defaut=lowest)   select(et/ou, defaut=et)   evt: check(evenementiel)   submit("filtrer") #}
    <form class="form-inline bg-light p-2" action="{% url 'communaute' communaute_id=communaute_id %}" method="POST">
        <span class="mr-5">Filtrer les posts de la communauté: </span>
        {% csrf_token %}
        <label for="id_min_priorite" class="mr-sm-2">Priorité minimale: </label>
        <select class="form-control" id="id_min_priorite" name="min_priorite">
            {% for priorite in list_priorite %}
                {% if priorite == dft_priorite %}
                    <option value="{{ priorite.id }}" selected>{{ priorite }}</option>
                {% else %}
                    <option value="{{ priorite.id }}">{{ priorite }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select class="form-control mx-4" id="id_type_filtrage" name="type_filtrage">
            <option value="OU">ou</option>
            <option value="ET" selected>et</option>
        </select>
        <div class="form-check">
            <label for="id_que_evt" class="form-check-label mr-sm-2">Afficher les événements: </label>
            <input class="form-check-input" type="checkbox" id="id_que_evt" name="que_evt">
        </div>
        <button type="submit" class="btn btn-primary mx-5">Filtrer</button>
    </form>

    {# Affichage des posts #}
    {% for post in posts %}
        {% include 'communitymanager/un_post.html' with bg_color="transparent" btn_lire_commentaire=True %}
    {% endfor %}

    {# Section pour créer un nouveau post s'il n'y en a pas #}
    {% if not posts %}
        Créer le premier post de la communauté ?
        <a href="{% url 'nouveau_post'  %}"><i class="far fa-edit"></i></a>
    {% endif %}

{% endblock h3 %}
