{% extends "base.html" %}

{% block title %} Voici la liste des POSTS !{% endblock title %}

{% block h1 %} POSTS de la Communauté {{ posts.communaute_id.get_name }}! {% endblock h1 %}

{% block h3 %}

    {# Affichage des posts #}
    {% for post in posts %}
        {% include 'communitymanager/un_post.html' with post=post bg_color="transparent" btn_lire_commentaire=True %}
    {% endfor %}

    {# Section pour créer un nouveau post s'il n'y en a pas #}
<h3 class="text-center">Vous souhaitez créer votre post ?
 <a href="{% url 'nouveau_post'  %}"><i class="far fa-edit"></i></a> </h3>


{% endblock h3 %}
