{% extends "base.html" %}

{% block title %} Voici la liste des POSTS !{% endblock title %}

{% block h1 %} POSTS de la Communauté {{ posts.communaute_id.get_name }}! {% endblock h1 %}

{% block h3 %}

    {# Bar de filtrage d'affichage des posts de la communaute #}
    {# Filtrage: min priorite: select(priorite, default=no filter) (radio(et/ou) or select(et/ou)) check(only evenementiel) submit("filtrer") #}

    {# Affichage des posts #}
    {% for post in posts %}
        {% include 'communitymanager/un_post.html' with bg_color="transparent" btn_lire_commentaire=True %}
    {% endfor %}

    {# Section pour créer un nouveau post s'il n'y en a pas #}
    {% if not posts %}
        Créer le premier post de la communauté ?
        <a href="{% url 'nouveau_post'  %}"><i class="far fa-edit"></i></a>
    {% endif %}

{% endblock h3 %}
