{% extends "base.html" %}

{% block title %}ACCUEIL : Voici la liste de vos communautés préférées !{% endblock title %}

{% block h1 %} Bienvenue {{ request.user.get_username }} sur votre page  ! {% endblock h1 %}

{% block h3 %}
    {% include 'communitymanager/search_form.html' with search_form=search action_url=action_url list_objet=initial_list%}
    {% for post in posts %}
        {% include 'communitymanager/un_post.html' with bg_color="transparent" page='feed_abonnements' btn_like=True %}
    {% endfor %}
{% endblock h3 %}
