{% csrf_token %}
<div class="form_fieldsH form_block">
    <p class="form_fieldsH form_fieldsTitle" >
        <label class="form_fieldsLabel">Titre :</label><br>
        {{ form.title }}
    </p>
    <div class="errorPr"><p>{{ form.title.errors }}</p></div>


    <p class="form_fieldsH form_fieldsTitle">
        <label class="form_fieldsLabel" for="id_priorite">Importance :</label><br>
        <select class="form_fieldsH" name="priorite" id="id_priorite" required="required">
            {% for prt in list_priorite %}
                <option class="" value="{{prt.pk}}" {% if forloop.counter == 2 %} selected="selected"{% endif %}>{{prt.labels|capfirst}}</option>
            {% endfor %}
        </select></p>
    <div class="errorPr"><p>{{ form.priorite.errors }}</p></div>

    <p class="form_fieldsH form_fieldsTitle">
        <label class="form_fieldsLabel" for="id_communaute">Communaute :</label><br>
        <input class="" id="id_communaute" name="commu" list="list_com" required="required" {% if form.commu.value != none %} value="{{ form.commu.value }}" {%endif%}>
        <datalist class="" id="list_com">
            {% for communaute in communautes %}
                <option class="form_fieldsTitle" value="{{communaute.name}}">
            {% endfor %}
        </datalist>
    </p>
    <div class="errorPr"><p>{{ form.commu.errors }}</p></div><hr>
</div>

<div class="form_fieldsH form_block">
    <p class="form_fieldsH">
        <label class="form_fieldsLabel" >Contenu du Post :</label><br>
        {{ form.description }}
    </p>
    <div class="errorPr"><p>{{ form.description.errors }}</p></div><hr>
</div>

<div class="form_fieldsH form_block">
    <p class="form_fieldsH">
        <label class="form_fieldsLabel">À cocher si c'est un évènement :</label>
        {{ form.evenementiel }}
    </p>
    <div class="errorPr"><p>{{ form.evenementiel.errors }}</p></div>

    <p class="form_fieldsH">{{ form.date_evenement.value| date:"c" }}
        <label class="form_fieldsLabel" for="id_date_evenement">Date evenement (AAAA-MM-JJ HH:MM) :</label>
        <input type="datetime-local" min="{{ date_now }}" name="date_evenement" id="id_date_evenement" value="{{ form.date_evenement.value| date:'c' }}">
    </p>
    <div class="errorPr"><p>{{ form.date_evenement.errors }}</p></div>

    <p class="form_fieldsH">
        <label class="form_fieldsLabel">À cocher s'il est collant :</label>
        {{ form.collant }}
    </p>
    <div class="errorPr"><p>{{ form.collant.errors }}</p></div>


    {% if superuser%}
    <p class="form_fieldsH">
        <label class="form_fieldsLabel">À cocher si c'est un avertissement :</label>
        {{ form.avertissement }}
    </p>
    <div class="errorPr"><p>{{ form.avertissement.errors }}</p></div>
    {% endif%}

    <input class="" type="submit" value="Publier"/>
</div>


