<form action="{% url "nouveau_post" %}" method="post">
    {% csrf_token %}

    <div style="text-align: center">
        <p><label>Titre :</label><br>
            {{ form.title }}
        </p>
        <div class="errorPr"><p>{{ form.title.errors }}</p></div></div>


    <p><label for="id_priorite">Importance:</label><br>
        <select class="formObj formObjH" name="priorite" id="id_priorite" required="required">
            {% for prt in list_priorite %}
                <option value="{{prt.pk}}"{% if prt.labels == 'blanche' %}selected="selected"{% endif %}>{{prt.labels}}</option>
            {% endfor %}
        </select></p>
    <div class="errorPr"><p>{{ form.priorite.errors }}</p></div>

    <p class=""><label for="id_communaute">Communaute:</label><br>
        <input class="" id="id_communaute" name="commu" list="list_com" required="required" {% if form.commu.value != none %} value="{{ form.commu.value }}" {%endif%}>
        <datalist class="" id="list_com">
            {% for communaute in communautes %}
                <option class="formObj" value="{{communaute.name}}">
            {% endfor %}
        </datalist>
    </p>
    <div class="errorPr"><p>{{ form.commu.errors }}</p></div>

    <p><label>Contenu du Post :</label><br>
        {{ form.description }}
    </p>
    <div class="errorPr"><p>{{ form.description.errors }}</p></div>

    <p><label>À cocher si c'est un évènement:</label><br>
        {{ form.evenementiel }}
    </p>
    <div class="errorPr"><p>{{ form.evenementiel.errors }}</p></div>

    <p><label for="id_date_evenement">Date evenement:</label><br>
        <input type="datetime-local" name="date_evenement" id="id_date_evenement" value="{{ form.date_evenement.value }}">
    </p>
    <div class="errorPr"><p>{{ form.date_evenement.errors }}</p></div>

    <input class="" type="submit" value="Publier"/></div>
</form>