<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title  %}ACCUEIL : Voici la liste de vos communautés préférées !{% endblock title %}</title>
</head>
<body>
<div>{% block h1 %} Bienvenue sur votre page ! {% endblock h1 %}</div>
<div class="breadcrumbs"><a href="/accounts/login"> {% block h2 %}Déconnexion {% endblock h2 %}</a></div>
{% block h3 %}
    {% for communaute in communautes %}
        {% include 'communitymanager/abonnement.html' %}
        <div class="communaute">
            <p> Nom :{{ communaute.name }}</p>
            <p>Abonnés :
                {% for u in communaute.abonnes.all%}
                    {{u.get_username}}
                {% endfor %}</p>
        <p><a href="{% url "communaute" communaute_id=communaute.id %}">Lire les Posts</a>
        </div>
    {% endfor %}
{% endblock h3 %}
</body>
</html>
