{% extends "base.html" %}
{% load staticfiles %}

{% block title %}ACCUEIL : Voici la liste de vos communautés préférées !{% endblock title %}

{% block h1 %} Bienvenue {{ request.user.get_username }},  sur la page des communautés  ! {% endblock h1 %}

{% block h3 %}

    {% for communaute in communautes %}
        <div class="communaute table-hover slideIn">
            <h1><b>{{ communaute.name|capfirst }}</b></h1>
            <p><i class="fas fa-users"></i>
                {% for u in communaute.abonnes.all %}
                    {{ u.get_username }}-
                {% endfor %}</p>
            {% if request.user in communaute.abonnes.all %}
                <a span href="{% url 'abonnements' communaute.id %}"><i class="fas fa-heart pull-right"></i></a>
                <p><a href="{% url "communaute" communaute.id %}">Lire les Posts</a>
            {% else %}
                <a span href="{% url 'abonnements' communaute.id %}"><i class="far fa-heart pull-right"></i> </a>
            {% endif %}
        </div>
        <hr class="my-4"/>
    {% endfor %}

{% endblock h3 %}
