 {% extends "base.html" %}
{% comment %}
        Template permettant l'affichage d'un formulaire de création d'une communauté. Il permet de mettre en forme l'affichage du formulaire,
        et de renvoyer les erreurs adéquates.
{% endcomment %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Créez votre communauté !{% endblock title %}</title>
</head>
{% block h1 %}Inspirez-nous{% endblock h1 %}
<body class="">
{% block h3 %}{% if envoi %}Votre communauté a bien été créée! Retournez à la liste des communautés pour l'apprécier{% endif %}
    Créez un havre de paix où des utilisateurs pourront suivre votre actualité !
    <form action="{% url 'nouvelle_communaute' %}" method="post">
        {% csrf_token %}
        <br>
        <div class="form_fieldsH form_block">
            <p class="form_fieldsH">
                <label class="form_fieldsLabel" >Nom de la Communauté :</label><br>
                {{ form.name }}
            </p>
            <div class="errorPr"><p>{{ form.name.errors }}</p></div>
        </div>

        <div class="form_fieldsH form_block">
            <p class="form_fieldsH">
                <label class="form_fieldsLabel" >Description de la communauté :</label><br>
                {{ form.description }}
            </p>
            <div class="errorPr"><p>{{ form.description.errors }}</p></div>
        </div>

           <div class="form_fieldsH form_block">
                <p class="form_fieldsH">
                    <label class="form_fieldsLabel" >CMs :</label><br>
                    {{ form.list_CMs }}
                </p>
                <div class="errorPr"><p>{{ form.list_CMs.errors }}</p></div>
            </div><br>

        <div class="form_fieldsH form_block">
            <p class="form_fieldsH">
                <label class="form_fieldsLabel" >A cocher pour fermer la communauté :</label>
                {{ form.ferme }}
            </p>
            <div class="errorPr"><p>{{ form.ferme.errors }}</p></div>
        </div>

        <input class="" type="submit" value="Ajoutez une Communauté..."/>
    </form>
{% endblock h3 %}
</body>
