{% extends "base.html" %}

{% block title %} Votre recherche !{% endblock title %}

{% block h1 %} Resultats pour {{ large_query }}! {% endblock h1 %}

{% block h3 %}
<div class="container-fluid">
    <div class="row">
        <div class="col-auto bg-light">
            {# Affichage du formulaire de recherche avancee #}
            {% include 'communitymanager/advanced_search.html' %}
        </div>

            {# Affichage du resultat de la recherche #}
        <div class="col">
            {# Affichage des communautes #}
            {% if communautes %}
                <hr>
                <h2>Dans Communaute{{communautes|pluralize}}</h2><br>
                {% for communaute, nb_posts_non_lus in communautes %}

                    {% include "communitymanager/une_communaute.html" %}
                {% endfor %}
            {% endif %}

            {% if communautes_par_createur %}
                <hr>
                <h2>Dans Communaute{{communautes|pluralize}} par createur</h2>
                {% for communaute, nb_posts_non_lus in communautes_par_createur %}
                    {% include "communitymanager/une_communaute.html" %}
                {% endfor %}
            {% endif %}

            {# Affichage des posts #}
            {% if posts %}
                <hr>
                <h2>Post{{posts|pluralize}}</h2>
                {% for post in posts %}
                    {% include 'communitymanager/un_post.html' with bg_color="transparent" page='recherche' btn_like=True %}
                {% endfor %}
            {% endif %}

            {% if communautes_par_createur %}
                <hr>
                <h2>Dans Post{{posts_par_auteur|pluralize}} par auteur</h2>
                {% for post in posts_par_auteur %}
                    {% include 'communitymanager/un_post.html' with bg_color="transparent" page='recherche' btn_like=True %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}