{% extends "base.html" %}

{% block title %} Votre recherche !{% endblock title %}

{% block h1 %} Resultats pour {{ large_query }}! {% endblock h1 %}

{% block h3 %}

{# Affichage des communautes #}
<hr>
<h2>Communaute{{communautes|pluralize}}</h2><br>
{% for communaute, nb_posts_non_lus in communautes %}
    {% include "communitymanager/une_communaute.html" %}
{% empty %}

{% endfor %}

{# Affichage des posts #}
<hr>
<h2>Post{{posts|pluralize}}</h2>
{% for post in posts %}
    {% include 'communitymanager/un_post.html' with bg_color="transparent" btn_like=True %}
{% empty %}

{% endfor %}

{% endblock %}