{% comment %}
    Template à inclure pour afficher une communaute
    Args: communaute, données du post à afficher
{% endcomment %}

    <div class="slideIn">
    <div class="communaute table-hover">
        <h1><b>
            {% if request.user in communaute.abonnes.all %}
                {%if not communaute.ferme_invisible%}
                     <a href="{% url 'communaute' communaute.id %}" data-toggle="tooltip" title="Lire les posts">{{ communaute.name|capfirst }}</a>
                {%else%}
                    {{ communaute.name|capfirst }}
                {% endif %}
            {% else %}
                {{ communaute.name|capfirst }}
            {% endif %}

            {% if request.user in communaute.list_CMs.all %}
                <a href="{% url 'update_communaute' communaute.id %}" data-toggle="tooltip" title="Modifier cette communauté">
                    <i class="far fa-edit" style="opacity: 50%"></i>
                </a>
            {% endif %}
        </b></h1>
        <div class="slideInContenu">
            <div class="text-muted">
                <p><i class="fas fa-users"></i>
                    {% for u in communaute.abonnes.all %}
                        {% if request.user == communaute.createur  %}
                        <a span href="{% url 'ajouter_CM' communaute_id=communaute.id user_id=u.id %}" data-toggle="tooltip"  {% if u in communaute.list_CMs.all %}title="Retirer l'utilisateur de la liste des CMS" style
                           ="opacity: 100%"{% else %}title="Ajouter l'utilisateur à la liste des CMS" style="opacity: 30%"
                           {% endif %}>
                                {{ u.get_username }}
                        </a>
                        -
                        {% else %}

                            {{ u.get_username }}-

                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            {{ communaute.description }}<br>
            {% if request.user in communaute.abonnes.all %}
                <a span href="{% url 'abonnements' communaute.id %}" data-toggle="tooltip" title="Désabonnez-vous !"><i class="fas fa-heart pull-right"></i></a><br>
                {%if communaute.ferme_invisible%}
                    La communauté a été fermée par l'administrateur.<br>
                {%endif%}
                Vous avez <b>{{ nb_posts_non_lus }} posts</b> non lus.
            {% else %}
                {%if not request.user in communaute.list_bannis.all%}
                    <a span href="{% url 'abonnements' communaute.id %}" data-toggle="tooltip" title="Abonnez-vous !"><i class="far fa-heart pull-right"></i></a><br>
                {%else%}
                    Vous avez été banni.e de cette Communauté.<br>
                {% endif %}
            {% endif %}<br>

            {# Section pour fermer/détruire une communauté si le créateur est l'utilisateur#}
            {% if request.user in communaute.list_CMs.all or request.user.is_superuser %}
                <a span href="{% url 'detruire' communaute.id %}" data-toggle="tooltip" title="Supprimer cette communauté!"><i class="fas fa-trash-alt" style="float:right; opacity: 50%; font-size: 25px"></i></a>
                {% if communaute.ferme %}
                <a span href="{% url 'fermer' communaute.id %}" data-toggle="tooltip" title="Ouvrir cette communauté"><i class="fas fa-lock" style="float:right;  font-size: 25px"></i></a>
                {%else%}
                <a span href="{% url 'fermer' communaute.id %}" data-toggle="tooltip" title="Fermer cette communauté"><i class="fas fa-lock-open" style="float:right;  font-size: 25px"></i></a>
                {%endif%}
                {% if request.user.is_superuser%}
                    {% if communaute.ferme_invisible %}
                    <a span href="{% url 'fermer_invisible' communaute.id %}" data-toggle="tooltip" title="Autoriser l'accès à la communauté!"><i class="fas fa-lock" style="color:indianred; float:left;  font-size: 25px"></i></a>
                    {%else%}
                    <a span href="{% url 'fermer_invisible' communaute.id %}" data-toggle="tooltip" title="Interdire l'accès à la communauté!"><i class="fas fa-lock-open" style="color:indianred; float:left;  font-size: 25px"></i></a>
                    {%endif%}
                {%endif%}
            {% endif %}
        </div>
    </div>
    </div>
    <hr class="my-4"/>
