{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Mofifiez votre Communauté!{% endblock title %}</title>
</head>
<body>
<div>{% block h1 %} Updatez votre COMMUNAUTÉ! {% endblock h1 %}</div>
<a href="{% url "list_communautes" post_id=post.id %}">Retour aux Communautés </a>
{% block h3 %}{% if envoi %}Votre communauté a bien été modifié !{% else %}
    EDITEZ votre Post !{% endif %}
    {% if alert_flag %}
        <script>alert("Vous n'êtes pas le créateur de cette Communauté! Retournez à votre feed.")
        window.location.href = "{% url 'feed_abonnements' %}"
        </script>
    {% endif %}
    {% if not alert_flag %}
        <form action="{% url "update_communaute" communaute_id=communaute.id %}" method="post">
            {% csrf_token %}
            <br>
            <div class="form_fieldsH form_block">
                <p class="form_fieldsH">
                    <label class="form_fieldsLabel" >Nom de la Communauté :</label><br>
                    {{ form.name }}
                </p>
                <div class="errorPr"><p>{{ form.name.errors }}</p></div>
            </div><br>

            <div class="form_fieldsH form_block">
                <p class="form_fieldsH">
                    <label class="form_fieldsLabel" >Utilisateurs bannis :</label><br>
                    {{ form.list_bannis }}
                </p>
                <div class="errorPr"><p>{{ form.list_bannis.errors }}</p></div>
            </div><br>

            <div class="form_fieldsH form_block">
                <p class="form_fieldsH">
                    <label class="form_fieldsLabel" >Description de la communauté :</label><br>
                    {{ form.description }}
                </p>
                <div class="errorPr"><p>{{ form.description.errors }}</p></div>
            </div><br>

            <div class="form_fieldsH form_block">
                <p class="form_fieldsH">
                    <label class="form_fieldsLabel" >A cocher pour fermer la communauté :</label>
                    {{ form.ferme }}
                </p>
                <div class="errorPr"><p>{{ form.ferme.errors }}</p></div>
            </div><br>

            <input type="submit" value="Appliquer"/>
        </form>
    {% endif %}
{% endblock h3 %}
</body>
