<!DOCTYPE html>
{% load staticfiles %}

<html lang="fr-FR">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <title>{% block title %}Déconnecté | Site d'administration de Django{% endblock title %}</title>



    <meta name="robots" content="NONE,NOARCHIVE">
</head>


<body class="" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name">{% block h1 %} Administration de Django  {% endblock h1 %}</h1>

        </div>


    </div>
    <!-- END Header -->
    <div class="breadcrumbs"><a href="/accounts/login"> {% block h2 %}Accueil {% endblock h2 %}</a></div>
    <link rel=”stylesheet” href=”{% static 'css/menu.css' %}”>


    <!-- Content -->
    <div id="content" class="colM">


        <p>{% block h3 %}Merci pour le temps que vous avez accordé à ce site aujourd'hui.{% endblock h3 %}</p>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>

</div>
<!-- END Container -->


</body>
</html>
