<!DOCTYPE html>
{% load static %}
<! -- HTML de base, que l'on fera hérité des templates de l'application. On s'inspire ici du modèle de Django,
tout en ajoutant dnas les templates de l'application, des fonctionnalités intéressantes-->

<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/animation.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/fixe_navbar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/vue_laser.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/css/vue_laser_avertissement.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/communitymanager/css/commun.css' %}">
    <title>{% block title %}Déconnecté | Site d'administration de Django{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href='{% static "/img/owl.ico" %}'/>

    <meta name="robots" content="NONE,NOARCHIVE">

</head>
<body class="" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    <!-- Header -->

    <div class=' h-50 bg-dark bg-center' id="header">
        <div id="branding " class=" text-center ">
            <h1 id="site-name" class="text-white ">{% block h1 %} Bienvenue ! {% endblock h1 %}</h1>
        </div>
    </div>
    <!-- END Header -->

    <div id="navbar" style="z-index: 10">
        <div class="breadcrumbs bg-secondary">
            {% if user.is_authenticated %}
            <nav class="navbar navbar-expand-sm navbar-white pull-right">
                <span class="miniTxt"><a class="navbar-brand" href="/accounts/logout" data-toggle="tooltip"
                                         title="Déconnexion"><i class="fas fa-sign-out-alt "></i></a></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto ">

                        {% if action_large_search %}
                        <div>
                            <form class="form-inline" method="POST" action='{{ action_large_search }}'>
                                {% csrf_token %}
                                <input type="text" placeholder="Recherche Globale" name="large_search-simple_query" minlength="3"><br><br>
                            </form>
                        </div>
                        {% endif %}

                        {# Menu déroulant pour la création de contenu #}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="far fa-edit"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="nav-link" href="{% url 'nouvelle_communaute' %}" data-toggle="tooltip"
                                   title="Créer une communauté" style="color:dimgrey">Communauté</a>
                                <a class="nav-link" href="{% url 'nouveau_post' %}" data-toggle="tooltip"
                                   title="Publier un POST" style="color:dimgrey">POST</a>
                            </div>
                        </div>
                        <a class="nav-link" href="{% url 'feed_abonnements' %}">Votre feed</a>
                        <a class="nav-link" href="{% url 'list_communautes' %}">Communautes</a>
                        <a class="nav-link" href="{% url 'see_posts' %}">Vos Créations</a>

                    </ul>
                </div>
            </nav>
            {% else %}
            <a class="navbar-brand" href="/accounts/login" data-toggle="tooltip" title="Déconnexion"><i
                    class="fas fa-sign-in-alt "></i></a>
            {% endif %}
        </div>
    </div>
    <!-- Content -->
    <div id="content" class="colM text-center content" style="padding: 20px;">
        <p>{% block h3 %}Merci pour le temps que vous avez accordé à ce site aujourd'hui.{% endblock h3 %}</p>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer"></div>

</div>
<!-- END Container -->
<script>
    window.onscroll = function () {
        myFunction()
    };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }
</script>
</body>

<footer class="miniTxt">
    <hr>
    {% if user.is_authenticated %}
    <span class="">Vous êtes connecté en tant que, <i>{{ user.username }} !</i></span>
    {% endif %}
    <p> ©Copyright 2021 ISAE-SUPAERO - AWNG - Adam Merchiche, Claire Ky & Guilhem Glaziou</p>
</footer>

</html>
